#nav {
  position: sticky;
}

#imgs {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

img {
  height: 25rem;
  width: 25rem;
  border-radius: 15px;
}
